# For SQLite (local development):
# DATABASE_URL="file:./dev.db"

# For PostgreSQL / Supabase (Serverless / Production):
# DATABASE_URL="postgresql://postgres.[REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&connect_timeout=30&pool_timeout=30"
# DIRECT_URL="postgresql://postgres.[REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:5432/postgres"
DATABASE_URL="postgresql://postgres.[REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&connect_timeout=30&pool_timeout=30"
DIRECT_URL="postgresql://postgres.[REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:5432/postgres"
GOOGLE_SHEET_ID="1o98f9BtgMfe2kUb17qzafoXzb7NFJaGzMJ6SGKapayc"
GOOGLE_SHEET_WEBHOOK_URL="https://script.google.com/macros/s/YOUR_DEPLOYED_SCRIPT_ID/exec"
ADMIN_PIN="1080"
JWT_SECRET="your-jwt-secret-key-at-least-32-chars-long"

